@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
@import "tailwindcss";

@utility container {
  @apply mx-auto px-8;
}

@theme {
  --font-*: initial;
  --font-sans: "Source Sans 3", sans-serif;
  --font-serif: "Source Serif 4", serif;
}

q::before {
  @apply md:absolute md:-top-[160px] md:-left-[180px] md:font-serif md:text-[300px] md:text-gray-500 md:content-[open-quote];
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}
