@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

@import "tailwindcss";

@utility container {
  @apply mx-auto px-8;
}

@theme {
  --font-*: initial;
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
}

@media screen and (min-width: 720px) {
  q::before {
    content: open-quote;
    font-size: 300px;
    font-weight: bold;
    font-family: "Merriweather", serif;
    left: -180px;
    top: -160px;
    position: absolute;
    color: rgb(209, 213, 219);
  }
}

q::before {
  content: open-quote;
}

q::after {
  content: close-quote;
}
