@import "tailwindcss";

@font-face {
  font-family: "Source Sans 3";
  src: url("/fonts/SourceSans3.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Serif 4";
  src: url("/fonts/SourceSerif4.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@utility container {
  @apply mx-auto px-8;
}

@utility focus {
  @apply ring-3 ring-gray-800 ring-offset-3 ring-offset-white outline-none;
}

@theme {
  --font-*: initial;
  --font-sans: "Source Sans 3", sans-serif;
  --font-serif: "Source Serif 4", serif;
}

q::before,
q::after {
  @apply content-[''];
}

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
}

b {
  @apply font-semibold;
}
